{%extends 'base.html'%} {%load static %}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Product Listing - Gammerce</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/productList.css" rel="stylesheet" />
</head>
{% block content %}

<body>
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Product Listings</h1>
                <p class="lead fw-normal text-white-50 mb-0">Find the best products here</p>
            </div>


        </div>
    </header>

    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row">
                <!-- Sidebar for Categories -->
                <div class="col-md-3">
                    <div class="product-sidebar">
                        <h4>Categories</h4>

                        <div class="sidebar-hr" style="margin-bottom: 0.3rem;"></div>
                        {% for category in category_list %}
                        <p class="product-cat-text">
                            <a href="{% url 'index' %}?category={{ category.id|urlencode }}" class="{% if selected_category == category %}active{% endif %}">{{ category }}</a>
                        </p>
                        <div class="sidebar-hr"></div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Product Items -->
                <div class="col-md-9">
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                        {% for product in products %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" style="height: 200px; object-fit: cover;" />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ product.name }}</h5>
                                        <!-- Product seller -->
                                        <h6 class="text-black-50 mt-0">Seller: {{ product.seller.username }}</h6>
                                        <!-- Product price-->
                                        <div class="d-flex justify-content-center p-price"><span>Price</span><span>${{ product.price }}</span></div>
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'viewProduct' product.id %}">View Product</a></div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <p class="no-prods-found">No products found.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer-->


</body>
{% endblock %}

</html>