
            <form method="GET" action="{% url 'index' %}" class="search-form">
                
                    <!-- Ensure the placeholder is set correctly -->
                    <input type="text" name="search" class="search-input-product" placeholder="Search for products..." value="{{ search_query|default_if_none:'' }}">
                    
                    <!-- If a category is selected, keep it in the URL -->
                    {% if selected_category %}
                        <input type="hidden" name="category" value="{{ selected_category }}">
                    {% endif %}
                    
                    <!-- Search icon -->
                    <span><i class="bi bi-search search-icon" aria-label="search-icon"></i></span>
                 
            </form>
   

            <!-- <h4>Price filter</h4> -->
            <!-- <form method="GET" action="{% url 'index' %}">
                <div class="input-group">
                    <input type="number" name="min_price" class="form-control" placeholder="Min price" value="{{ min_price }}"> {% if selected_category %} -->
            <!-- Keep category in the URL if it is already selected -->
            <!-- <input type="hidden" name="category" value="{{ selected_category }}"> {% endif %}
                    <input type="number" name="max_price" class="form-control" placeholder="Max price" value="{{ max_price }}">
                    <button class="btn btn-primary" type="submit">Filter</button>
                </div> -->


            <!-- <form method="GET" action="{% url 'index' %}">
                <div data-role="rangeslider">
                    <label for="price-min">Price:</label>
                    <input type="range" name="minPrice" class="form-control" placeholder="Min price" value="{{price_min}}" min="{{min_price}}" max="{{ max_price }}">
                    <label for=" price-max ">Price:</label>
                    <input type="range " name="maxPrice" class="form-control " placeholder="Max price " value="{{ price_max }} " min="{{min_price}}" max="{{ max_price }}">
                </div>
                <button type="submit " data-inline="true ">Submit</button>
            </form> -->

            <div class="products">
                <!-- Sidebar inside products -->
                <div class="product-sidebar">
                    <!-- <header style="margin-bottom: 1.5rem;">Categories</header> -->
                        
                        <p class="product-cat-text">
                            <a href="{% url 'index' %}" class="{% if not selected_category %}active{% endif %}">
                                All Products
                            </a>
                        <p>
                        <div class="sidebar-hr" style="margin-bottom: 0.3rem;"></div>
                
                    
                        {% for category in category_list %}
                        <p class="product-cat-text">
                            <a href="{% url 'index' %}?category={{ category.id|urlencode }}" class="{% if selected_category == category %}active{% endif %}">
                                {{ category }}
                            </a>
                        </p>
                        <div class="sidebar-hr"></div>
                        {% endfor %}
                    
                </div>
            
                <!-- Product Items on the right -->
                <div class="product-items">
                    {% for product in products %}
                        <div class="product">
                            <a href="{% url 'viewProduct' product.id %}" class="text-decoration-none text-dark">
                                <div class="product-content">
                                    <div class="product-img">
                                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style="height: 250px; object-fit: cover;">
                                    </div>
                                    <div class="product-info">
                                        <h5 class="product-name">{{ product.name }}</h5>
                                        <p class="product">Seller: {{ product.seller.username }}</p>
                                        <p class="product">{{ product.category }}</p>
                                        <p class="product">$ {{ product.price }}</p>
                                        
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% empty %}
                        <p class="no-prods-found">No products found.</p>
                    {% endfor %}
                </div>
            </div>