<!-- <nav class="navbar bg-dark navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="{% url 'index' %}">Ecommerce</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="{% url 'index' %}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="{% url 'index' %}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="{% url 'index' %}">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'index' %}">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'index' %}">Action</a></li>
                        <li><a class="dropdown-item" href="{% url 'index' %}">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'index' %}">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form method="GET" action="{% url 'index' %}" class="mb-4">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Search for products..." value="{{ search_query }}"> {% if selected_category %}
                     Keep category in the URL if it is already selected -->
<!-- <input type="hidden" name="category" value="{{ selected_category }}"> {% endif %}
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!" >Gammerce</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'seller_register' %}">Seller Register</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'profile' %}">My Profile</a></li>
            </ul>

            <!-- Search Form -->
            <form method="GET" action="{% url 'index' %}" class="search-form border border-2 border-dark py-1 px-3 me-2" >
                <input type="text" name="search" class="search-input-product" placeholder="Search for products..." value="{{ search_query|default_if_none:'' }}">
                {% if selected_category %}
                    <input type="hidden" name="category" value="{{ selected_category }}">
                {% endif %}
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </form>

            <button class="btn btn-outline-dark" type="submit">
                <i class="bi-cart-fill me-1"></i>
                Cart
                <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
            </button>
        </div>
    </div>
</nav>