body, .auth-section {
    font-family: "Cabin", sans-serif;
}

.auth-container {
    width: 100%; 
    margin: 0 auto; 
    padding: 0; 
}


.auth-section {
    padding: 8rem;
    height: 100vh; /* Make section take full viewport height */
    display: flex;
    align-items: stretch; /* Stretch items to full height */
    justify-content: center;
    vertical-align: middle;
    font-size: 1.5rem;
}

.auth-card {
    border: 0.0625rem solid #ccc; 
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* 4px -> 0.25rem, 8px -> 0.5rem */
    border-top-right-radius: 1.25rem; 
    border-bottom-right-radius: 1.25rem; 
    width: 100%
}

.auth-row {
    display: flex;
    
    
}

.auth-left-side,
.auth-right-side {
    flex: 1; 
    padding: 2rem;
}

.auth-left-side {
    background-color: #000;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    color: #fff;
   
}


.auth-align-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.auth-icon {
    font-size: 3.8rem;
}

.auth-col {
    text-align: center;
}

.auth-img {
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.auth-hr {
    border: 0.0625rem solid white; /* 1px -> 0.0625rem */
}

.auth-title {
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.auth-text {
    font-size: 1.5rem;
    margin-top: 1.3rem;
}

.auth-header h3 {
    font-size: 2.8rem; 
    text-align: center;
}

.auth-card-body {
    padding: 2rem;
}

.auth-header {
    margin-bottom: 2rem;
}

.auth-btn-container {
    display: flex;
    justify-content: center;
}

.auth-btn {
    background-color:black; 
    color: white;
    padding: 0.75rem 1.5rem;
    margin: 1rem;
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
    width: 100%; /* 80% of container */
    height: 100%;
    font-size: 1.5rem;
}

.auth-footer {
    margin-top: 2rem;
}

.auth-footer-hr {
    border: 0.0625rem solid #9f9e9e; /* 1px -> 0.0625rem */
}

.auth-footer-links {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-self: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}

.auth-link {
    flex:1;
    color: rgb(85, 81, 81);
    text-decoration: none;
    flex-wrap: wrap;
    width:100%;
}

.auth-link:hover {
    text-decoration: underline;
    color: grey;
}

/* Textbox */
.auth-form input[type="text"],
.auth-form input[type="password"],
.auth-form input[type="email"] {
    width: 100%; 
    padding: 0.65rem; 
    margin-bottom: 1rem; /* Spacing between textboxes */
    border: 0.0625rem solid #ccc; /* Border style */
    border-radius: 0.5rem; /* Rounded corners */
}

.auth-form input[type="text"]:focus,
.auth-form input[type="password"]:focus,
.auth-form input[type="email"]:focus {
    border-color: #000; /* Change border color on focus */
    outline: none; /* Remove the default outline */
}


@media (max-width: 770px) {
    .auth-row {
        flex-direction: column; 
        justify-content: center;
    }

    .auth-section {
        padding: 4rem 2rem; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
        height: 100%; 
        min-height: 100vh; 
    }

    .auth-card {
        margin: 1rem 0; /* Add margin to the top and bottom of the card */
        width: 100%;
        border-bottom-left-radius: 1.25rem;
        border-bottom-right-radius: 1.25rem;
    }

    .auth-left-side {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        padding: 2rem 1.5rem; 
        border-top-right-radius: 1.25rem;
        border-top-left-radius: 1.25rem;
        border-bottom-left-radius: 1.25rem;
        border-bottom-right-radius: 1.25rem;
        text-align: center; 
        width: 100%
    }
    
    .auth-right-side {
        width: 100%;
    }

  
    .auth-footer-links {
        flex-direction: column; 
        align-items: center;
    }

 
    .auth-link {
        width: 100%;
        margin: 0.5rem 0;
        text-align: center;
    }

    
    .auth-btn {
        width: 100%; 
    }
}
