{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="auth-section">
    <div class="auth-container">
        <div class="auth-card">
            <div class="row auth-row">
                <!-- Left Side: Image and Description -->
                <div class="col-12 col-md-6 auth-left-side">
                    <div class="auth-align-center">
                        <div class="auth-col">
                            <i class="bi bi-shop-window auth-icon" width="245" height="80" alt="Auth Logo"></i>
                            <hr class="auth-hr">
                            <h2 class="auth-title">We offer products for locals, by locals</h2>
                            <p class="auth-text">Lorem ipsum something something products </p>
                        </div>
                    </div>
                </div>

                <!-- Right Side: Login Form -->
                <div class="col-12 col-md-6 auth-right-side">
                    <div class="auth-card-body">
                        <div class="auth-row">
                            <div class="col-12">
                                <div class="auth-header">
                                    <h3>Log in</h3>
                                </div>
                            </div>
                        </div>
                        <!-- Django Login Form -->
                        <form method="post" class="auth-form">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="auth-btn-container">
                                <button type='submit' class="auth-btn">Log in now</button>
                            </div>
                        </form>

                        <div class="auth-footer">
                            <div class="col-12">
                                <hr class="auth-footer-hr">
                                <div class="auth-footer-links">
                                    <a href="{% url 'register' %}" class="auth-link">Create account</a>
                                    <a href="#!" class="auth-link">Forgot password</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
